body {
    height: 100vh;
    background-color: #444a4f;
}

h1 {
    color: aliceblue;
}

h2 {
    color: aliceblue;
}

.pad-top {
    padding-top: 10%;
}

.light-padding {
    padding-right: 10px;
}

.left-sidebar {
    position: absolute;
    width: 15%;
    height: 100%;
    color: aliceblue;
    background-color: #363b3f;
}

#left-album {
    position: absolute;
    width: 52%;
    left: 16%;
    top: 8%;
    height: 90%;
    overflow-y: auto;
    color: aliceblue;
    background-color: #363b3f;
}

#right-infopanel {
    z-index: -1;
    position: absolute;
    width: 30%;
    right: 1%;
    top: 8%;
    height: 90%;
    color: aliceblue;
    background-color: #363b3f;
}

.center-all {
    text-align: center;
}

.row {
    padding-top: 1%;
}

.widest {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hoverblue:hover {
    background: #1c8aff;
    animation: fadeIn ease 0.2s;
}

.fade-in {
    animation: fadeIn ease 0.5s;
}

.slow-fade-in {
    animation: fadeIn ease 1s;
}

#popup {
    z-index: 10;
}

.full-img {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.clickableDiv {
    cursor: pointer;
}

.secondary-bg-dark {
    background-color: #373C3F;
}

#prog-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1%;
}

button:focus {
    outline-width: 0;
}

#blockstate_row {
    font-size: 12px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 17px;
    box-sizing: content-box;
}