body {
    height: 100vh;
    background-color: #444a4f;
}

h1 {
    color: aliceblue;
}

h2 {
    color: aliceblue;
}

.centered-text {
    text-align: center;
}

.pad-top {
    padding-top: 10%;
}

.light-padding {
    padding-right: 10px;
}

#left-album {
    overflow-y: auto;
    max-height: 100%;
}

.left-sidebar {
    position: absolute;
    width: 15%;
    height: 100%;
    color: aliceblue;
    background-color: #363b3f;
}

body ::-webkit-scrollbar {
    color: white;
    width: 5px;
    height: 8px;
    background-color: #444A4F; /* or add it to the track */
}

.tab {
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #444A4F;
    border-left: 1px solid #444A4F;
    border-right: 1px solid #444A4F;
}

.center-all {
    text-align: center;
}

.row {
    padding-top: 1%;
}

.fade-in {
    animation: fadeIn ease 0.5s;
}

.slow-fade-in {
    animation: fadeIn ease 1s;
}

.full-img {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.clickableDiv {
    cursor: pointer;
}

.secondary-bg-dark {
    background-color: #373C3F;
}

#prog-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1%;
}

button:focus {
    outline-width: 0;
}

#blockstate_row {
    font-size: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 17px;
    box-sizing: content-box;
}

.info-img {
    width: 40%;
    height: 30%;
    padding-bottom: 5%;
}

.flex-stretch {
    top: 1%;
    height: 98%;
    align-items: stretch;
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

#editor {
    overflow-y: auto;
    color: aliceblue;
}

.right-content {
    position: fixed;
    right: 1%;
    width: 83%;
}

.width-40 {
    width: 40%;
}

.width-58 {
    width: 58%;
}

.pad-left {
    padding-left: 1%;
}

.line {
    border-bottom: 1px solid #444A4F;
    width: 100%;
    margin: 0;
}

.pad-right {
    padding-right: 1%;
}