/* CSS files add styling rules to your content */

html, body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html, body, button {
    background-color: #000;
  }
}

button {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  background-color: #0000;
}

button:hover {
  background-color: #0000;
}

button:focus {
  outline: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  transform: scale(0.8);
  transition: transform 0.3s;
}

img:hover {
  transform: scale(0.6);
}

p {
  color: black;
  position: absolute;
  transform: translateY(calc(calc(100vh - 200%) - 5px));
  padding-left: 10px;
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  p {
    color: white;
  } 
}